# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datos locales
chroma_db/
embed_cache/
docs/
*.db

# IDE/editor
.vscode/
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Otros
*.log
